<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Employee Management</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <h2>Employee Management Home</h2>
    
    <p>Add employees below.</p>
    
    <form action="addEmployee" method="post">
    	<span>Name:</span> <input type="text" name="name">
    	<span>Position:</span> <input type="text" name="position">
    	<span>Manager:</span> <input type="text" name="manager">
    	<input type="submit" value="Add Employee">
    </form>
    
    <hr class="solid">
    
    <p>Employees are listed below.</p>
    
    <span>Sort by:</span>
    
    <form action="sortEmployee" method="post">
    	<select name="field">
    		<option th:each="field : ${fields}" th:value="${field}" th:text="${field}"
    		th:selected="${field==selectedField}">
    		</option>
    	</select>
	    
	    <select name="dir">
    		<option th:each="dir : ${dirs}" th:value="${dir}" th:text="${dir}"
    		th:selected="${dir==selectedDir}">
    		</option>
    	</select>
	    <input type="submit">
    </form>
    
    <br>
    
    <div class="bar">
    	<span>Name</span>
    	<span>Position</span>
    	<span>Manager</span>
    </div>
    
    <hr class="solid">
    
    <div th:each="employee : ${employees}" class="container">
   		<form action="updateEmployee" method="post">
   			<input type="hidden" name="id" th:value="${employee.id}">
   			<input type="text" name="name" th:value="${employee.name}">
   			<input type="text" name="position" th:value="${employee.position}">
    		<input type="text" name="manager" th:value="${employee.manager}">
   			<button type="submit" name="action" value="update">Update</button>
   			<button type="submit" name="action" value="delete">Delete</button>
   		</form>
    </div>
    
    <form action="switchPage" method="post">
    	<button type="submit" name="action" value="down">Left</button>
    	<span th:text="${page}"></span>
   		<button type="submit" name="action" value="up">Right</button>
    </form>
    
</body>
</html>