<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Employee Management</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <h2>Employee Management Home</h2>
    
    <hr class="solid">    
    <p>Employees are listed below.</p>
    <br>    
    <div class="bar">
    	<span>Id</span>
    	<span>Worked Days</span>
    	<span>No of Vacation Days Accumulated</span>
    </div>
    <hr class="solid">    
    <div th:each="employee,iterStat : ${employees}" class="container">
   		<form action="updateEmployee" method="post">
   			<input type="text" name="employeeIndex" th:value="${employee[iterStat.index]}">
   			<input type="text" name="workedDays" th:value="">
   			<input type="text" name="vacationDays" th:value="${employee.vacationDays}">
   			<button type="submit" name="action" value="updateWorkedDays">Update Worked Days</button>
   			<button type="submit" name="action" value="updateVacationDays">Update Vacation Days</button>
   		</form>
    </div>
    
</body>
</html>