<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Employee Management</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <h2>Employee Management Home</h2>
    
    <hr class="solid">    
    <p>Hourly Employees are listed below.</p>
    <br>    
    <div class="bar">
    	<span>Id</span>
    	<span>Worked Days</span>
    	<span>No of Vacation Days Accumulated</span>
    </div>
    <hr class="solid">    
    <div th:each="employee : ${employees}" class="container">
   		<form action="updateHourlyEmployee" method="post">
   			<input type="text" name="id" th:value="${employee.id}">
   			<input type="text" name="Worked Days" th:value="${employee.workedDays}">
   			<input type="text" name="No of Vacation Days Accumulated" th:value="${employee.noOfVacationDaysAccumulated}">
   			<button type="submit" name="action" value="updateWorkedDays">Update Worked Days</button>
   			<button type="submit" name="action" value="updateVacationDays">Update Vacation Days</button>
   		</form>
    </div>
    
    <hr class="solid">    
    <p>Salaried Employees are listed below.</p>
    <br>    
    <div class="bar">
    	<span>Id</span>
    	<span>Worked Days</span>
    	<span>No of Vacation Days Accumulated</span>
    </div>    
    <hr class="solid">    
    <div th:each="employee : ${employees}" class="container">
   		<form action="updateSalariedEmployee" method="post">
   			<input type="text" name="id" th:value="${employee.id}">
   			<input type="text" name="Worked Days" th:value="${employee.workedDays}">
   			<input type="text" name="No of Vacation Days Accumulated" th:value="${employee.noOfVacationDaysAccumulated}">
   			<button type="submit" name="action" value="updateWorkedDays">Update Worked Days</button>
   			<button type="submit" name="action" value="updateVacationDays">Update Vacation Days</button>
   		</form>
    </div>
    
    <hr class="solid">    
    <p>Manager Employees are listed below.</p>
    <br>    
    <div class="bar">
    	<span>Id</span>
    	<span>Worked Days</span>
    	<span>No of Vacation Days Accumulated</span>
    </div>    
    <hr class="solid">    
    <div th:each="employee : ${employees}" class="container">
   		<form action="updateManagerEmployee" method="post">
   			<input type="text" name="id" th:value="${employee.id}">
   			<input type="text" name="Worked Days" th:value="${employee.workedDays}">
   			<input type="text" name="No of Vacation Days Accumulated" th:value="${employee.noOfVacationDaysAccumulated}">
   			<button type="submit" name="action" value="updateWorkedDays">Update Worked Days</button>
   			<button type="submit" name="action" value="updateVacationDays">Update Vacation Days</button>
   		</form>
    </div>
    
</body>
</html>